* {
  box-sizing: border-box;
}
body {background-image: url(https://www.pngkit.com/png/full/903-9032772_afternoon2-1457384916-gradient-color-background-blue-white.png);}

.page-wrapper {display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 100px;
margin-top: 50px;
margin-bottom: 0px;}

nav {display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-end;
background-image: url(https://static.vecteezy.com/system/resources/previews/000/189/076/original/vector-colorful-dark-diagonal-stripes-background.jpg);}

.hero-banner {color: aliceblue;
margin-right: 50px;}

.page-section {border-right-style: solid ;
border-color: blue;}

.gridparent {
width: 100%;
padding: 10px;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr 1fr;
gap: 20px;
}

#html {
padding: 50px;
background-image: url(https://thumbs.dreamstime.com/b/html-code-programming-software-background-d-render-abstract-technology-developer-computer-script-102733125.jpg);
border: solid rgb(100, 94, 225);
border-width: 5px;
font-size: 50px;
color: aliceblue;}



#css {
  padding: 75px;
  background-image: url(https://thumbs.dreamstime.com/b/programming-code-abstract-technology-background-software-developer-computer-script-d-render-html-code-programming-software-102732842.jpg);
  border: solid rgb(83, 237, 152);
  border-width: 5px;
  font-size: 50px;
  color: aliceblue;}

#Javascript 
{padding: 75px;
  background-image: url(https://th.bing.com/th/id/OIP.UL4rU8Qo5SIfdfU63GLBAgHaEK?w=322&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7);
  border: solid rgb(207, 241, 10);
  border-width: 5px;
  font-size: 50px;
  color: aliceblue;}

#contact {margin-bottom: 10px;}

header {background-image: url(https://static.vecteezy.com/system/resources/previews/000/189/076/original/vector-colorful-dark-diagonal-stripes-background.jpg) ;
color: aliceblue;}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
