* {
  box-sizing: border-box;  
}
body {background-image: url(https://www.pngkit.com/png/full/903-9032772_afternoon2-1457384916-gradient-color-background-blue-white.png);}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


header {background-image: url(https://static.vecteezy.com/system/resources/previews/000/189/076/original/vector-colorful-dark-diagonal-stripes-background.jpg) ;
  color: aliceblue;
padding: 10px;}

  nav {display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/189/076/original/vector-colorful-dark-diagonal-stripes-background.jpg);}
    

.page-wrapper {display: grid;
grid-template-columns: 1fr 2fr;
grid-gap: 100px;
margin-top: 30px;
margin-bottom: 0px;}


.hero-banner {color: aliceblue;
margin-right: 50px;}

.page-section {border-right-style: solid ;
border-color: blue;}

.gridparent {
width: 100%;
padding: 10px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 10px;
}


#html {
padding: 30px;
background-image: url(https://thumbs.dreamstime.com/b/html-code-programming-software-background-d-render-abstract-technology-developer-computer-script-102733125.jpg);
border: solid rgb(100, 94, 225);
border-width: 5px;
font-size: 30px;
text-align: center;
color: aliceblue;}



#css {
  padding: 30px;
  background-image: url(https://thumbs.dreamstime.com/b/programming-code-abstract-technology-background-software-developer-computer-script-d-render-html-code-programming-software-102732842.jpg);
  border: solid rgb(83, 237, 152);
  border-width: 5px;
  font-size: 30px;
  text-align: center;
  color: aliceblue;}

#Javascript 
{padding: 30px;
  background-image: url(https://th.bing.com/th/id/OIP.UL4rU8Qo5SIfdfU63GLBAgHaEK?w=322&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7);
  border: solid rgb(207, 241, 10);
  border-width: 5px;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
grid-row: span 2;
grid-column: span 2;}

#contact {margin-bottom: 10px;}

#line {word-spacing: 100px;
text-align: center;}



